DB_PASSWORD=your_postgres_password_here
JWT_SECRET=generate_with_python_-c_"import secrets; print(secrets.token_hex(64))"
DB_URL=jdbc:postgresql://localhost:5432/architext
DB_USERNAME=postgres
FLASK_BASE_URL=http://localhost:5000
FLASK_INTERNAL_KEY=OzLDFWTyH6whIwE6F/DLbvnQYfUYozV8w52YEcGhjRQ=